<!DOCTYPE html>

<h1><b> New Workout </b></h1>
<hr>
<form action="/workouts" method="POST">


<input id="workout" type="text" class="form-control input-sm chat-input" name="workout" />
</br>

<div class="wrapper">
<span class="group-btn">
<input id= "workout" type="submit" value="Add New Workout" class="btn btn-primary btn-md"/>
</span>
</div>
