<!DOCTYPE html>

<h1><b> New Item </b></h1>
<hr>
<form action="/workouts" method="POST">


<input id="item" type="text" class="form-control input-sm chat-input" name="item" />
</br>

<div class="wrapper">
<span class="group-btn">
<input id= "workout" type="submit" value="Add New Item" class="btn btn-primary btn-md"/>
</span>
</div>
