<h1>Welcome to The Workout Playbook App!</h1>

<h2>You will be able to do the following: </h2>
    <ul>
        <li>Add your workouts.</li>
        <li>Make changes to your workouts.</li>
        <li>Edit your workouts.</li>
        <li>Delete your workouts.</li>
</ul>


<button type="button"><a href="/signup"> Signup HERE </a></button> 

<br><br>

<button type="button"><a href="/login"> Login HERE </a></button>
 

