<h1>Welcome to WeHERE Fitness Personal Trainers Booking App!</h1>

<h2>You will be able to do the following: </h2>
    <ul>
        <li>View all available Fitness Trainers.</li>
        <li>Select a Fitness Trainer for a personal training session.</li>
        <li>Edit a personal training session.</li>
        <li>Remove a personal training session.</li>
</ul>

<h3>Please click on the button to begin the process.</h3>

<form action="/signup" method="POST">

  <input type="submit" />

  </form>