<form action="/signup" method="POST">

      <h3>Signup:</h3>
  <p>
     
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" />
  </p>
  
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
  </p>

<input type="submit" />
 </form>
