<h1>Welcome to your Daily Workout Playbook App!</h1>

<h2>You will be able to do the following: </h2>
    <ul>
        <li>View your daily workouts.</li>
        <li>Add to your daily workouts.</li>
        <li>Edit your daily workouts.</li>
        <li>Delete your daily workouts.</li>
</ul>


<button type="button"><a href="/signup"> Signup HERE </a></button> 

<br><br>

<button type="button"><a href="/login"> Login HERE </a></button>