<h1>Signup and Create your workout of th day! </h1>


<h3><% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>
</h3>

<form action="/signup" method="POST">
   
  <p>
      <h3>Workout Of The Day!:</h3>
    <input type="checkbox" name="Push Ups" value="Push Ups"> Push Ups<br>
    <input type="checkbox" name="Squats" value="Squats">Squats<br>
    <input type="checkbox" name="ABS" value="ABS">ABS<br>
    <input type="checkbox" name="Shoulder Press" value="Shoulder Press">Shoulder Press<br>
  </p>

<hr>
<form action="/signup" method="POST">
<input type="text" class="form-control input-sm chat-input" name="username" placeholder="Username:" />
</br>
<input type="email" class="form-control input-sm chat-input" name="email" placeholder="Email:">
</br>
<input type="password" class="form-control input-sm chat-input" name="password" placeholder="Password:">
</br>

<div class="wrapper">
  <span class="group-btn">
  <input type="submit" value="Sign Up" class="btn btn-primary btn-md">
</div>

  </form>
