<h1>Signup</h1>
<h2> Create your workout of th day! 
</h2>

<% "Must include email and password" if @user && @user.errors.any? %>

<form action="/users" method="POST">
   
  <p>
      <h3>Workout Of The Day!:</h3>
    <input type="checkbox" name="Push Ups" value="Push Ups"> Push Ups<br>
    <input type="checkbox" name="Squats" value="Squats">Squats<br>
    <input type="checkbox" name="ABS" value="ABS">ABS<br>
    <input type="checkbox" name="Shoulder Press" value="Shoulder Press">Shoulder Press<br>
  </p>



  <input type="submit" />

  </form>
